---
import HomeIcon from "../icons/Home.astro";
import MusicIcon from "../icons/Music.astro";
import SearchIcon from "../icons/Search.astro";
import AdjustmentsIcon from "../icons/Adjustments.astro";
import SettingsIcons from "../icons/Settings.astro";
import SideMenuItem from "./SideMenuItem.astro";
---

<nav class="flex flex-col flex-1 gap-2">
  <div class="bg-zinc-800 rounded-lg p-2">
    <ul>
      <SideMenuItem href="/">
        <HomeIcon />
        Home
      </SideMenuItem>

      <SideMenuItem href="/#">
        <SearchIcon />
        Search
      </SideMenuItem>

      <SideMenuItem href="/#">
        <AdjustmentsIcon />
        Mixer
      </SideMenuItem>

      <SideMenuItem href="/#">
        <SettingsIcons />
        Settingss
      </SideMenuItem>
    </ul>
  </div>

  <div class="bg-zinc-800 flex-1 justify-evenly items-center rounded-lg p-2">
    <ul class="border-b border-zinc-700">
      <SideMenuItem href="/#">
        <MusicIcon />
        <span class="">Library</span>
      </SideMenuItem>
    </ul>
  </div>
</nav>
